<!DOCTYPE html>
<html>
  <head>
    <title>Create Users</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/users">Users List</a></h3>
      <h1>Create New User</h1>
      <form action="/users/save" method="post">
        <table>
          <tbody>
            <tr>
              <td>First Name</td>
              <td><input type="text" name="firstName" /></td>
            </tr>
            <tr>
              <td>Last Name</td>
              <td><input type="text" name="lastName"/></td>
            </tr>
            <tr>
              <td>Email</td>
              <td><input type="text" name="email" /></td>
            </tr>
            <tr>
              <td>Password</td>
              <td><input type="text" name="password" /></td>
            </tr>
            <tr>
              <td>Mobile Number</td>
              <td><input type="text" name="mobile" /></td>
            </tr>
            <tr>
              <td>Designation</td>
              <td><input type="text" name="designation" /></td>
            </tr>
            <tr>
              <td>Address</td>
              <td><textarea name="address"></textarea></td>
            </tr>

            <tr>
              <td colspan="2"><button type="submit">Save</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </body>
</html>
