<!DOCTYPE html>
<html>
  <head>
    <title>Edit User</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/users">Users List</a></h3>
      <h1>Edit User</h1>
      <form action="/users/update/<%= user._id%>" method="post">
        <table>
          <tbody>
            <tr>
              <td>First Name</td>
              <td><input type="text" name="firstName" value="<%= user.firstName %>" /></td>
            </tr>
            <tr>
              <td>Last Name</td>
              <td><input type="text" name="lastName" value="<%= user.lastName %>" /></td>
            </tr>
            <tr>
              <td>Email</td>
              <td><input type="text" name="email" value="<%= user.email %>" /></td>
            </tr>
            <tr>
              <td>Password</td>
              <td><input type="text" name="password" value="<%= user.password %>" /></td>
            </tr>
            <tr>
              <td>Mobile</td>
              <td><input type="text" name="mobile" value="<%= user.mobile %>" /></td>
            </tr>
            <tr>
              <td>Designation</td>
              <td><input type="text" name="designation" value="<%= user.designation %>" /></td>
            </tr>
            <tr>
              <td>Address</td>
              <td><input type="text" name="address" value="<%= user.address %>" /></td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit">Update</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </body>
</html>
