<!DOCTYPE html>
<html>
  <head>
    <title>Users List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/users/create">Create User</a></h3>
      <h1>Users List</h1>
      <% if(users.length>0) { %>
      <table class="list-table">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Mobile</th>
            <th>Designation</th>
            <th>Address</th>
          </tr>
        </thead>
        <tbody>

          <% for(var i=0; i<users.length;i++) { %>
            <tr>
              <td><a href="/users/show/<%= users[i]._id%>"><%= users[i].firstName%></a></td>
              <td><%= users[i].lastName%></td>
                <td><%= users[i].email%></td>
                <td><%= users[i].password%></td>
                <td><%= users[i].mobile%></td>
                <td><%= users[i].designation%></td>
                <td><%= users[i].address%></td>
            </tr>
          <% } %>
        </tbody>
      </table>
      <% } else { %>
        <div>No users found.</div>
      <% } %>
    </div>
  </body>
</html>
