<!DOCTYPE html>
<html>
  <head>
    <title>User Detail</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/users">User List</a></h3>
      <h1>User Detail</h1>
      <table>
        <tbody>
          <tr>
            <td>First Name</td>
            <td>:</td>
            <td><%= user.firstName %></td>
          </tr>
          <tr>
            <td>Last Name</td>
            <td>:</td>
            <td><%= user.lastName %></td>
          </tr>
          <tr>
            <td>Email</td>
            <td>:</td>
            <td><%= user.email %></td>
          </tr>
          <tr>
            <td>Password</td>
            <td>:</td>
            <td><%= user.password %></td>
          </tr>
          <tr>
            <td>Mobile</td>
            <td>:</td>
            <td><%= user.mobile %></td>
          </tr>
          <tr>
            <td>Designation</td>
            <td>:</td>
            <td><%= user.designation %></td>
          </tr>
          <tr>
            <td>Address</td>
            <td>:</td>
            <td><%= user.address %></td>
          </tr>
        </tbody>
      </table>
      <h3><a href="/users/edit/<%= user._id%>">EDIT</a></h3>
      <form action="/users/delete/<%= user._id%>" method="post">
        <button type="submit">DELETE</button>
      </form>
    </div>
  </body>
</html>
